/* 注册页面的css */
body{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    background:url("../img/sign-bg.jpg");
}
header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
header p{
    font-size: 20px;
    color: #fff;
    margin-right: 5%;
}
nav{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 5%;
}
.register{
    font-size: 28px;
    color: #fff;
}
.frind{
   font-size: 16px;
   color: #fff;
   opacity: 0.6;
   margin-top: 2%;
}

main{
    width: 100%;
    height: 300px;
    margin-top: 50px;
}
input{
    width: 90%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 100);
    opacity: 0.5;
    margin-bottom: 20px;
    margin-left: 5%;
    font-size: 16px;
    color: #fff;
    text-indent: 20px;
}

/* .verify{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.code{
    width: 50%;
}

/* .box{
    width: 20%;
    height: 10px;
    background: pink;
} */
.login{
    background: #63FFA7 10000%;
    text-align: center;
}
.forget{
    display: flex;
    justify-content: flex-end;
}
a{
    font-size: 16px;
    color: #fff;
    margin-right: 10%;
}
footer{
    font-size: 16px;
    color: #fff;
    text-align: center;
}